## The Financial Statement Data Analysis
_by Mohammad Fazlan bin Harun_

Scraping key value financial statement from www.investing.com
and the three financial statement from https://finance.yahoo.com/

The company profile chosen is Capgemini, a French multinational information technology (IT) services and consulting company. It is headquartered in Paris, France.

In [1]:
import investpy as inv # import library to retrieve data from Investing.com
import yahoo_fin.stock_info as si # import library to retrieve data from yahoo! finance
import pandas as pd
from datetime import datetime

In [2]:
# select ticker
TICKER = "CAPP"

# get company's profile
inv.get_stock_company_profile(stock=TICKER, country="France")

{'url': 'https://www.investing.com/equities/cap-gemini-company-profile',
 'desc': 'Capgemini SE is a France-based company specialized in consulting, technology services and digital transformation. It operates through four segments: Application services, Technology and Engineering services, Consulting services and Other Managed services. Application services designs and develops technological solutions and help customers optimize their applications, among others. Technology and Engineering services assists and supports internal information technology (IT) and engineering teams within client companies. Consulting focuses on strategy, technology, data science, and creative design to support customers in creating new models and new products and services within the digital economy. Other Managed services integrates, manages, and/or develops clientsâ€™ IT infrastructure systems, among others.'}

In [3]:
inv.get_stock_financial_summary(stock=TICKER,                      #let see key value in income statement
                                country="France",
                                summary_type="income_statement", 
                                period="annual").T

#numbers in million, 18160 read as 18,160,000,000 (18.16B)

Date              2021-12-31  2020-12-31  2019-12-31  2018-12-31
Total Revenue        18160.0     15848.0     14125.0     13197.0
Gross Profit          4792.0      4136.0      3851.0      3570.0
Operating Income      1839.0      1502.0      1433.0      1251.0
Net Income            1157.0       957.0       856.0       730.0

In [4]:
inv.get_stock_financial_summary(stock=TICKER,                      #let see key value in balance sheet
                                country="France",
                                summary_type="balance_sheet", 
                                period="annual").T

#numbers in million

Date               2021-12-31  2020-12-31  2019-12-31  2018-12-31
Total Assets          24033.0     21954.0     18135.0     16498.0
Total Liabilities     15566.0     15851.0      9711.0      9018.0
Total Equity           8467.0      6103.0      8424.0      7480.0

In [5]:
inv.get_stock_financial_summary(stock=TICKER,                     #let see key value in cash flow statement
                                country="France",
                                summary_type="cash_flow_statement", 
                                period="annual").T

#numbers in million

Date                            2021-12-31  2020-12-31  2019-12-31  2018-12-31
Cash From Operating Activities      2581.0      1661.0      1794.0      1396.0
Cash From Investing Activities      -678.0     -1714.0      -868.0      -728.0
Cash From Financing Activities     -1746.0       562.0      -468.0      -611.0
Net Change in Cash                   291.0       378.0       446.0        16.0

#### Scraping the Income Statement from Yahoo Finance

In [6]:
ticker = "CAP.PA"
income_statement = si.get_income_statement(ticker)
income_statement

endDate,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Breakdown,,,,
researchDevelopment,None,None,None,None
effectOfAccountingCharges,None,None,None,None
incomeBeforeTax,1685000000,1355000000,1354000000,1171000000
minorityInterest,12000000,12000000,-5000000,-1000000
netIncome,1157000000,957000000,856000000,730000000
sellingGeneralAdministrative,2470000000,2280000000,2137000000,2000000000
grossProfit,4792000000,4136000000,3851000000,3570000000
ebit,2051000000,1643000000,1538000000,1384000000
operatingIncome,2051000000,1643000000,1538000000,1384000000
otherOperatingExpenses,108000000,108000000,71000000,95000000
interestExpense,-160000000,-155000000,-87000000,-61000000
extraordinaryItems,None,None,None,None
nonRecurring,None,None,None,None
otherItems,None,None,None,None
incomeTaxExpense,526000000,400000000,502000000,447000000
totalRevenue,18160000000,15848000000,14125000000,13197000000
totalOperatingExpenses,16109000000,14205000000,12587000000,11813000000
costOfRevenue,13368000000,11712000000,10274000000,9627000000
totalOtherIncomeExpenseNet,-366000000,-288000000,-184000000,-213000000
discontinuedOperations,None,None,None,None
netIncomeFromContinuingOps,1159000000,955000000,852000000,724000000
netIncomeApplicableToCommonShares,1157000000,957000000,856000000,730000000

#### Scraping the Balance Sheet from Yahoo Finance

In [7]:
balance_sheet = si.get_balance_sheet(ticker)
balance_sheet

endDate,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Breakdown,,,,
intangibleAssets,1003000000,1100000000,645000000,697000000
capitalSurplus,3609000000,3050000000,3150000000,2979000000
totalLiab,15554000000,15839000000,9716000000,9019000000
totalStockholderEquity,8467000000,6103000000,8424000000,7480000000
minorityInterest,12000000,12000000,-5000000,-1000000
otherCurrentLiab,1806000000,1385000000,1181000000,1623000000
totalAssets,24033000000,21954000000,18135000000,16498000000
commonStock,1379000000,1350000000,1355000000,1338000000
otherCurrentAssets,671000000,599000000,409000000,395000000
retainedEarnings,4233000000,3444000000,4899000000,730000000
otherLiab,1753000000,2056000000,1440000000,1515000000
goodWill,10633000000,9795000000,7662000000,7431000000
treasuryStock,-754000000,-1741000000,-980000000,2433000000
otherAssets,1535000000,1391000000,1277000000,1386000000
cash,3129000000,2836000000,2461000000,2006000000
totalCurrentLiabilities,6517000000,5975000000,5120000000,4230000000
deferredLongTermAssetCharges,881000000,983000000,999000000,1128000000
shortLongTermDebt,77000000,943000000,706000000,42000000
otherStockholderEquity,-675000000,-1702000000,-950000000,2483000000
propertyPlantEquipment,1703000000,1692000000,1500000000,785000000
totalCurrentAssets,8999000000,7839000000,6563000000,6154000000
longTermInvestments,160000000,137000000,488000000,45000000
netTangibleAssets,-3169000000,-4792000000,117000000,-648000000
netReceivables,4942000000,4162000000,3550000000,3527000000
longTermDebt,6657000000,7127000000,2564000000,3233000000
accountsPayable,1628000000,1209000000,1149000000,1172000000

 #### Scraping the Cash Flow statement from Yahoo Finance.

In [8]:
cash_flow = si.get_cash_flow(ticker)
cash_flow

endDate,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Breakdown,,,,
changeToLiabilities,351000000,-123000000,-26000000,25000000
totalCashflowsFromInvestingActivities,-678000000,-1714000000,-868000000,-728000000
netBorrowings,-1681000000,2744000000,-290000000,-67000000
totalCashFromFinancingActivities,-1746000000,562000000,-468000000,-611000000
changeToOperatingActivities,375000000,7000000,154000000,8000000
issuanceOfStock,587000000,277000000,253000000,230000000
netIncome,1157000000,957000000,856000000,730000000
changeInCash,291000000,378000000,446000000,16000000
repurchaseOfStock,-197000000,-514000000,-134000000,-483000000
effectOfExchangeRate,134000000,-131000000,-12000000,-41000000
totalCashFromOperatingActivities,2581000000,1661000000,1794000000,1396000000
depreciation,672000000,649000000,545000000,302000000
otherCashflowsFromInvestingActivities,-51000000,60000000,-71000000,-38000000
dividendsPaid,-329000000,-226000000,-282000000,-284000000
changeToAccountReceivables,-197000000,72000000,-98000000,32000000
otherCashflowsFromFinancingActivities,-126000000,-1719000000,-15000000,-7000000
changeToNetincome,208000000,87000000,355000000,296000000
capitalExpenditures,-262000000,-204000000,-172000000,-236000000

Exporting to Excel
Now that weâ€™ve successfully scraped the Income Statement, Balance Sheet, and Statement of Cash Flows, letâ€™s export the data to Excel for futher analysis later in Tableau:

Itâ€™s possible to export the Pandas DataFrame to Excel via ExcelWriter.

Below is the code to export to an Excel file with three worksheets; Income Statement, Balance Sheet, and Statement of Cash Flows

In [9]:
date = datetime.today().strftime('%Y')
with pd.ExcelWriter('Yahoo-Finance-' + ticker + '-' + date + '.xlsx') as writer:
    income_statement.to_excel(writer, sheet_name='income_statement')
    balance_sheet.to_excel(writer, sheet_name='balance_sheet')
    cash_flow.to_excel(writer, sheet_name='cash_flow')